# Week12 Lab

Scrape the information from the following website: https://www.scrapethissite.com/pages/simple/ 
show the values in a dataframe

In [50]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [51]:
response = requests.get('https://www.scrapethissite.com/pages/simple/')
response.ok

True

In [52]:
response.text[:1000]

'<!doctype html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n    <title>Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping</title>\n    <link rel="icon" type="image/png" href="/static/images/scraper-icon.png" />\n\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <meta name="description" content="A single page that lists information about all the countries in the world. Good for those just get started with web scraping.">\n\n    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">\n    <link href=\'https://fonts.googleapis.com/css?family=Lato:400,700\' rel=\'stylesheet\' type=\'text/css\'>\n    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">\n\n    \n<meta name='

In [53]:
html_doc = response.text

In [54]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [55]:
t = soup.find_all('div', {"class":"col-md-4 country"})

In [56]:
t[0]

<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Andorra la Vella</span><br/>
<strong>Population:</strong> <span class="country-population">84000</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">468.0</span><br/>
</div>
</div>

In [57]:
t[0].h3.text.strip()

'Andorra'

In [58]:
t[0].span.text

'Andorra la Vella'

In [59]:
def extract_values(v):
    
    country= v.h3.text.strip()
    spans = v.find_all('span')
    capital= spans[0].text
    population= spans[1].text
    area= spans[2].text
    
    return country, capital, population,area

In [60]:
country=[]
capital=[]
population=[]
area=[]
spans=[]
evalues=[]

for i in t:
    value= extract_values(i)
    evalues.append(value)

In [61]:
print(evalues[0])

('Andorra', 'Andorra la Vella', '84000', '468.0')

In [62]:
import pandas as pd

df= pd.DataFrame(data=evalues, columns=['Country', 'Capital', 'Population', 'Area'])

In [63]:
df

                  Country           Capital Population       Area
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]